.app {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.control {
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  z-index: 1;
}

.box{
  height: 100%;
  width: 200px;
  padding: 0 20px ;
  background-image: url('./images/arc-plan2.jpg');
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  position: relative;
  cursor: pointer;
  z-index: 1; 
}

.box_nav_icon {
    position: absolute;
    right: -50px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url('./images/drag.svg');
    background-position: 25%;
    background-size: 25px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 2px rgba(34, 60, 80, 0.2);
    transform: rotate(180deg);
    z-index: -1;
}

.box_nav_icon_active {
  transform: rotate(0);
  background-position: 85%;
}

.box_nav_icon_active:hover {
  box-shadow: 4px 4px 8px 4px rgba(34, 60, 80, 0.2);
}


.window {
  width: calc(100vw - var(--navigation_width));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.window_fullWidth {
  width: 100vw
}
