body {
  margin: 0;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ADD FONT */
@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('./fonts/Rubik/static/Rubik-Light.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CLEAN PADDINGS */
* {
  padding: 0;
  margin: 0;
}


.react-tabs__tab-list {
  margin: 0;
}

:root {

  /* COLORS */
  --accent: #029c7d;
  --second_accent: #0f6856;
  --main: #11101D;
  --light: #fff;
  --light_grey: #dddada85;

  /* SIZES */
  --navigation_width: 240px;
  --border-width: 4px;
}


